$desktop-width: 1023px;
$tablet-width: 767px;
$mobile-width: 320px;

$basic-color-one: #000000;
$basic-color-two: #ffffff;
$basic-color-three: #1f1f1f;
$accent-color: #0ad9c6;
$additional-color-one: #1c1c1c;
$additional-color-two: red;
$additional-color-three: #131314;
$additional-color-four: #070707;
$additional-color-five: #c9ccd4;
$additional-color-six: #dadada;
$additional-color-seven: #48494d;
$additional-color-eight: #f6f6f6;
$additional-color-nine: #2c2e3f80;
$additional-color-ten: #141517;
$additional-color-eleven: #f6f7f9;

